body{

}


#Principal{
    color: #7cccb4;
    background-image: url(./Backgrounds/paper_texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    
    /* background-image: url(./Backgrounds/paper_texture.jpg); */
}

#Title{
    color: blue;
}

.texto_verde{
    color: #c2b3d3;
}
